 
html {

     scroll-behavior: smooth; 
} 

body {
    font-family:'Acumin Pro', sans-serif; 
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    margin-top: 0px;
}
   
h1 {
    color: rgb(246, 239, 239);
    font-weight:lighter;
    margin-left: 20px;
    border: 0px;
    font-family: 'Playfair Display';
  } 

mark {
    background-color: white;
    padding: 10px;
}

h2 {
    font-family:'Playfair Display';
    text-align:center;
    padding: 2vw;

}

h3 {
    font-family:'Playfair Display';
}


p {
      /* width: auto; */
     line-height: 200%;
     font-weight: lighter;
  
  }

a {
    color:rgb(112, 106, 97);
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: lighter;
}


.flex-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.flex-child {
    flex: 1;
  } 


.topnav {
    background-color: rgb(112, 106, 97);
    overflow:hidden;
  }

.topnav a {
    color: #ece1e1;
    text-align: right;
    font-size: large;
    text-decoration: none;
  }

.topnav a:hover {
    color: rgb(255, 255, 255);
  }




.button {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    cursor: pointer;
    border:2px solid rgb(112, 106, 97);
    color:rgb(112, 106, 97);
}



.button:hover {
    border:2px solid rgb(175, 123, 98);
    color:rgb(175, 123, 98);
    transition-duration: 0.4s;
}

/* .topnav a.active {
    color: white; }
  
 
/* .boxed {
    background-color: green;
} */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 1vw; /* Some padding */ 
    border: 1px solid rgb(122, 88, 65); /* Gray border */
    border-radius: 0; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 1vw; /* Add a top margin */
    margin-bottom: 3vw; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #c59f8f;
    color: white;
    padding: 1vw 2vw;
    border: none;
    border-radius: 0;
    align-items:center;
  }
  
  /* When moving the mouse over the submit button, add a darker color */
  input[type=submit]:hover {
    background-color: #8b6a57;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 0;
    background-color: #ffffff;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1vw;
  }