


body {
    font-family: 'Playfair Display';
}
   
h1 {
    color: rgb(93, 87, 86);
    margin-left: 20px;
  }


p {
      /* width: auto; */
     line-height: 200%;
  
  }

.flex-parent {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.flex-child {
    flex: 1;
  } 

 
.boxed {
    background-color: green;
}
